{% extends 'app/nav_foot/base.html' %}
{% load static %}

{% block title %}Agendar Cita - Mascota Feliz{% endblock %}

{% block content %}
<h2>Agendar una cita 🗓️</h2>
<p>Hecho por Matipene</p>

<form method="post">
    {% csrf_token %}

    <label for="dueno">Nombre del dueño:</label><br>
    <input type="text" id="dueno" name="dueno" required><br><br>

    <label for="correo">Correo del dueño:</label><br>
    <input type="email" id="correo" name="correo"><br><br>

    <label for="direccion">Dirección:</label><br>
    <input type="text" id="direccion" name="direccion" required><br><br>

    <label for="animalname">Nombre de la mascota:</label><br>
    <input type="text" id="animalname" name="animalname" required><br><br>

    <label for="breedname">tipo del animal:</label><br>
    <input type="text" id="breedname" name="breedname"><br><br>

    <label for="fecha">Fecha de atención:</label><br>
    <input type="date" id="fecha" name="fecha" required><br><br>

    <label for="estado">Estado:</label><br>
    <select id="estado" name="estado" required>
        <option value="adoptado">Adopción</option>
        <option value="foster">perdido</option>
        <option value="transfer">Traslado</option>
        <option value="medical">Médico</option>
    </select><br><br>

    <label for="motivo">Motivo:</label><br>
    <textarea id="motivo" name="motivo" rows="4" cols="40" placeholder="Peluquería, vacuna o atención médica..."
        required></textarea><br><br>

    <button type="submit">Reservar hora</button>
</form>
{% endblock %}